 @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  body {
    font-family: system-ui;
    background-color:pink;
    text-align: center;
  }

  .rotate{
    animation: rotation 60s infinite linear;
  }

  #clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  #globe{
    position: absolute;
    top: 26%;
    left: 39%;

  }

  #header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
}
